@keyframes decrease {
    from {
        width: 765px;
        background: #fff;
    }
    to {
        width: 215px;
        background: #E5E5E5;
    }
}
@keyframes disappearanceBlock {
    from {
        width: 626px;
        height: 100%;
        padding-left: 10px;
        font-size: 16px;
        background: #fff;
    }
    to {
        width: 0px;
        background: #E5E5E5;
    }
}
@keyframes disappearanceLine {
    from {
        right: 80px;
    }
    to {
        right: 154px;
    }
}

@keyframes makemore {
    from {
        opacity: .0;
    }
    to {
        opacity: 1;
    }
}
@keyframes changeWordBack {
    from {
        width: 80px;
        opacity: 0;
    }
    to {
        width: 157px;
        opacity: 1;
    }
}
@keyframes changeBgBack {
    from {
        background: url('../img/close.svg') center center/cover no-repeat;
        width: 22px; 
        height: 22px;
    }
    to {
        background: url('../img/seacrh-icon.svg') center center/cover no-repeat;
        width: 32px; 
        height: 32px;
    }
}